<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" th:href="@{/assets/style.css}">
</head>
<body>

<table id="wrapper">
    <tr>
        <td rowspan="2" id="menu-wrapper">
            <ul>
                <li><a th:href="@{/index}">Products</a></li>
                <li><a th:href="@{/shippers}">Shippers</a></li>
                <li><a id="active-menu-item" th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/orders}">Orders</a></li>
            </ul>
        </td>
        <td id="header">
            <a th:href="@{/sign-in}">Sign in</a>
            |
            <a th:href="@{/profile}">Profile</a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRc3iMIk2A0xrTAgSRxckchkVvYRwbIgqVcw&usqp=CAU">
        </td>
    </tr>
    <tr>
        <td id="content-wrapper">

            <form th:action="@{/customer-create}" th:object="${customer}" method="post">
                <label for="first-name">First name:</label><br>
                <input name="firstName" id="first-name" type="text">
                <br><br>
                <label for="last-name">Last Name:</label><br>
                <input name="lastName"  id="last-name" type="text">
                <br><br>
                <label for="birth-date">Birth date:</label><br>
                <input name="birthDate" id="birth-date" type="date">
                <br><br>
                <label for="phone">Phone:</label><br>
                <input name="phone" id="phone" type="tel">
                <br><br>
                <label for="address">Address:</label><br>
                <input name="address" id="address" type="text">
                <br><br>
                <label for="city">City:</label><br>
                <input name="city" id="city" type="text">
                <br><br>
                <label for="state">State:</label><br>
                <input name="state" id="state" type="text">
                <br><br>
                <label for="points">Points:</label><br>
                <input name="points" id="points" type="number">
                <br><br>


                <label for="email">Login:</label><br>
                <input name="email" id="email" type="text">
                <br><br>
                <label for="password">Password</label>
                <input name="password" id="password" type="password">


                <input type="submit" value="Save">
            </form>
        </td>
    </tr>
</table>

</body>
</html>