<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/assets/style.css}">
</head>
<body>

    <table id="wrapper">
        <tr>
            <td rowspan="2" id="menu-wrapper">
                <ul>
                    <li><a th:href="@{/index}">Products</a></li>
                    <li><a id="active-menu-item" th:href="@{/shippers}">Shippers</a></li>
                    <li><a th:href="@{/customers}">Customers</a></li>
                    <li><a th:href="@{/orders}">Orders</a></li>
                </ul>
            </td>
            <td id="header">
                <a th:href="@{/sign-in}">Sign in</a>
                |
                <a th:href="@{/profile}">Profile</a>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRc3iMIk2A0xrTAgSRxckchkVvYRwbIgqVcw&usqp=CAU">
            </td>
        </tr>
        <tr>
            <td id="content-wrapper">
                <table id="list-shippers" border="1">
                    <tr>
                        <th width="50">Id</th>
                        <th>Name</th>
                        <th width="70"></th>
                        <th width="70"></th>
                    </tr>
                    <tr th:each="shipper:${foundShippers}">
                        <td th:text="${shipper.shipperId}"></td>
                        <td th:text="${shipper.name}"></td>
                        <td class="edit">&#9998;</td>
                        <td class="delete">&#10008;</td>
                    </tr>

                </table>
                <table id="list-pagination">
                    <tr>
                        <td width="100%"></td>
                        <td>&lArr;</td>
                        <td>1</td>
                        <td>&rArr;</td>
                    </tr>
                </table>

                <hr>
                <h2>Add new shipper:</h2>

                <form>
                    <label for="name">Name:</label><br>
                    <input name="name" id="name" type="text">

                    <input type="submit" value="Save">
                </form>
            </td>
        </tr>
    </table>

</body>
</html>