<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/assets/style.css}">
</head>
<body>

    <table id="wrapper">
        <tr>
            <td rowspan="2" id="menu-wrapper">
                <ul>
                    <li><a th:href="@{/index}">Products</a></li>
                    <li><a id="active-menu-item" th:href="@{/shippers}">Shippers</a></li>
                    <li><a th:href="@{/customers}">Customers</a></li>
                    <li><a th:href="@{/orders}">Orders</a></li>
                </ul>
            </td>
            <td id="header">
                <a th:href="@{/sign-in}">Sign in</a>
                |
                <a th:href="@{/profile}">Profile</a>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRc3iMIk2A0xrTAgSRxckchkVvYRwbIgqVcw&usqp=CAU">
            </td>
        </tr>
        <tr>
            <td id="content-wrapper">
                <table id="list-shippers" border="1">
                    <tr>
                        <th width="50">Id</th>
                        <th>Name</th>
                        <th width="70"></th>
                        <th width="70"></th>
                    </tr>
                    <tr th:each="shipper:${foundShippers}">
                        <td th:text="${shipper.shipperId}"></td>
                        <td th:text="${shipper.name}"></td>
                        <td class="edit">&#9998;</td>
                        <td class="delete"><a th:href="@{/shipper-delete/{id}(id=${shipper.shipperId})}">&#10008;</a></td>
                    </tr>

                </table>
                <table id="list-pagination">
                    <tr>
                        <td width="100%"></td>
                        <td th:if="${currentPage} > 1">
                            <a th:href="@{/shippers?page={previous}(previous=${currentPage-1})}">&lArr;</a>
                        </td>
                        <td th:text="${currentPage}"></td>
                        <td>
                            <a th:href="@{/shippers?page={next}(next=${currentPage+1})}">&rArr;</a>
                        </td>
                    </tr>
                </table>

                <hr>
                <h2><a th:href="@{/shipper-create}">Add new shipper:</a></h2>

            </td>
        </tr>
    </table>

</body>
</html>