<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/assets/style.css}">
</head>
<body>

    <table id="wrapper">
        <tr>
            <td rowspan="2" id="menu-wrapper">
                <ul>
                    <li><a th:href="@{/index}">Products</a></li>
                    <li><a th:href="@{/shippers}">Shippers</a></li>
                    <li><a th:href="@{/customers}">Customers</a></li>
                    <li><a th:href="@{/orders}">Orders</a></li>
                </ul>
            </td>
            <td id="header">
                <a id="active-menu-item" th:href="@{/sign-in}">Sign in</a>
                |
                <a th:href="@{/profile}">Profile</a>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRc3iMIk2A0xrTAgSRxckchkVvYRwbIgqVcw&usqp=CAU">
            </td>
        </tr>
        <tr>
            <td id="content-wrapper">

                <p>Please fill in this form to create an account.</p>

                <form>

                <label for="email"><b>Email</b></label>
                <input type="text" id="email" placeholder="Enter Email" name="email" required>

                <label for="password"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="psw" required>

                <label for="password-repeat"><b>Repeat Password</b></label>
                <input type="password" id="password-repeat" placeholder="Repeat Password" name="psw-repeat" required>

                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signinbtn">Sign Up</button>
                </form>
            </td>
        </tr>
    </table>

</body>
</html>